<style>

    .md-fab {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    #working {
        display: none;
        margin-right: 5em;
        margin-bottom: 1.5em;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #56e833;
        padding: 5px;
        border-radius: 20px;
    }

    #alreadyTaken {
        display: none;
        margin-right: 5em;
        margin-bottom: 1.5em;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #e81628;
    }

    .plus {
        font-size: 40px;
    }

</style>

<div id="alreadyTaken"> Ihr Projektname wird bereits genutzt.</div>

<div id="working"> Ihr Project wurde erstellt.</div>

<md-button class="md-fab" style="background: #85003b; color: white;" ng-click="showPrompt($event)">
    <div class="plus">
        +
    </div>
</md-button>