<style>
    .inhalt {
        transform: translateY(5.4rem);
        z-index: -1;
    }

    .inhalt .text {
        width: 70%;
    }

    .inhalt .text-block {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .inhalt .paragraph {
        width: 80%;
    }

    .inhalt .heading {
        color: rgb(133, 0, 59);
    }

</style>
<div class="inhalt">
    <div class="text-block">
        <h1 class="heading">Willkommen zum Team-Feedback Tool</h1>
        <p class="paragraph">Team-Feedback Tool ist eine Idee, die Bindung und Kommunikation von Teammitgliedern zu Ihren Teamleitern zu stärken.
        Die Projektleiter können sich durch Diagramme über den rückgemeldeten Zustand des Mitarbeiters informieren. Dieses Tool ersetzt natürlich keine
        persönlichen Gespräche zwischen Projektleiter und Mitarbeiter, sondern dient als wertvolle Ergänzung der Kommunikation.</p>
    </div>
    <div class="text-block">
        <h3 class="heading">Das Entwicklerteam</h3>
        <p class="paragraph">Dieses Projekt ist im Unterricht an der HTL 3 Rennweg entstanden. Das Entwicklerteam besteht aus dem Projektleiter Florian Gödel (Benutzerseitige Entwicklung) und den
        Projektmitarbeitern Dominik Novi (Benutzerseitige Entwicklung), Felix Linhart (Serverseitige Entwicklung) und Kevin Chelappurath (Benutzerseitige Entwicklung).</p>
        <h3 class="text">Wir hoffen, dass Sie unser Produkt positiv anspricht und wir Ihnen bei Projektarbeiten behilflich sein können!</h3>
    </div>
</div>