<style>
    .project-menue-closed {
        width: 14rem;
        height: calc(100% - 5.9rem);
        padding: 0 1rem 0 1rem;
        background-color: rgba(133, 0, 59, 0.5);
        position: absolute;
        top: 3.4rem;
        left: -16rem;
        color: #ffffff;
        transition: 500ms;
    }

    .project-menue-opened {
        width: 14rem;
        height: calc(100% - 5.9rem);
        padding: 0 1rem 0 1rem;
        background-color: rgba(133, 0, 59, 0.5);
        position: absolute;
        top: 3.4rem;
        left: 0;
        color: #ffffff;
        transition: 500ms;
    }

    .project-heading-block {
        font-size: 1.2rem;
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
    }


</style>
<div class="project-menue-closed">
    <div class="project-heading-block">
        <span class="project-heading" ng-scrollbar>Projekte</span>
    </div>
</div>