<style>
    .user-display {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .user-display .user-profile {
        width: 2rem;
        height: 2rem;
        border-radius: 50px;
        background-color: #ffffff;
        border: 1px solid #000000;
        transition: 0.3s;
    }

    .user-display .user-profile:hover {
        cursor: pointer;
        background-color: #E5E5E5;
    }

</style>
<div class="user-display" layout="row">
    <img src="resources/baseline-person-24px.svg" class="user-profile" ng-click="$ctrl.toggleProfileMenue()">
</div>