<style>
    .idvProfile{
        margin-top: 3rem;
        margin-left: 3rem;
    }
</style>

<div class="idvProfile">
    <div class="email">
        Ihre angegebene Email-Adresse lautet: <i>{{$ctrl.email}}</i>
    </div>
    <br>
    <div class="change-firstname">
        <div class="firstname"> Ihr Vorname lautet: <i>{{$ctrl.firstname}}</i> </div>
        <md-input-container>
            <label>Vorname</label>
            <input type="text" name="firstname" ng-model="$ctrl.frm_firstname"
                   minlength="3" maxlength="100" ng-pattern="/^[a-zA-Z]+(?:[\s.]+[a-zA-Z]+)*$/"/>
        </md-input-container>
        <md-button class="md-raised" ng-click="$ctrl.submitFirstname()">
            Vornamen ändern
        </md-button>
        {{$ctrl.infoFirstname}}
    </div>
    <div class="change-surname">
        <div class="surname"> Ihr Nachname lautet: <i>{{$ctrl.surname}}</i> </div>
        <md-input-container>
            <label>Nachname</label>
            <input type="text" name="surname" ng-model="$ctrl.frm_surname"
                   minlength="3" maxlength="100" ng-pattern="/^[a-zA-Z]+(?:[\s.]+[a-zA-Z]+)*$/"/>
        </md-input-container>
        <md-button class="md-raised"  ng-click="$ctrl.submitSurname()">
            Nachnamen ändern
        </md-button>
        {{$ctrl.infoSurname}}
    </div>
    <div class="change-password">
        <div class="password"> Passwort ändern: </div>
        <md-input-container>
            <label>Altes Passwort</label>
            <input type="password" name="oldpassword" ng-model="$ctrl.frm_oldpassword"
                   minlength="6" maxlength="100"/>
        </md-input-container>
        <md-input-container>
            <label>Neues Passwort</label>
            <input type="password" name="newpassword" ng-model="$ctrl.frm_newpassword"
                   minlength="6" maxlength="100"/>
        </md-input-container>
        <md-input-container>
            <label>Passwort wiederholen</label>
            <input type="password" name="passwordcheck" ng-model="$ctrl.frm_passwordcheck"
                   minlength="6" maxlength="100"/>
        </md-input-container>
        <md-button class="md-raised" ng-click="$ctrl.submitPassword()">
            Passwort ändern
        </md-button>
        {{$ctrl.infoPassword}}
    </div>
</div>