<style>
    .logout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 1;
        flex-grow: 1;
        position: fixed;
        top: 5.9rem;
        right: 0;
        border-bottom-left-radius: 1rem;
        background-color: rgb(233, 213, 222);
        width: 15rem;
        padding-right: 0.5rem;
        padding-bottom: 1rem;
        z-index: 1;
    }

    .logout .logout-button {
        background-color: rgba(133, 0, 59, 1);
        color: white;
        border-radius: 0.5rem;
        margin: 1em;
    }

    .logout .logout-button:hover {
        color: rgba(133, 0, 59, 1);
    }

    .logout .individualProfile {
        background-color: rgba(133, 0, 59, 1);
        color: white;
        border-radius: 0.5rem;
        margin: 1em;
    }

    .logout .individualProfile:hover {
        color: rgba(133, 0, 59, 1);
    }

    .logout .buttons {
        display:flex;
        flex-direction: column;
    }

</style>
<div class="logout">
    <div class="buttons">
        <md-button class="md-raised logout-button" ng-click="$ctrl.logout()">
            Abmelden
        </md-button>
        <md-button class="md-raised individualProfile" ng-click="$ctrl.individualProfile()">
            Userdaten
        </md-button>
    </div>
</div>